body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333333;
    font-family: Verdana, sans-serif;

}

header{
    width: 100%;
    margin-left: 10px;
    padding: 5px 5px 5px 15px; /* Adjusted padding */
    display: flex;
    justify-content: start;
    background-color: #191414;
    color: white; 
}

footer {
    width: 100%;
    padding: 15px 0;
    background-color: #191414;
}

.playlist-cards {
    margin: 15px;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-radius: 7%;
    gap: 10%;
    row-gap: 10%;
}

.playlist-card {
    margin: 10px;
    padding: 10px;
    background-color: #1DB954;
    border-radius: 7%;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for transform and shadow */
    cursor: pointer; /* Changes the cursor to a pointer to indicate it's clickable */
    box-shadow: 0 2px 5px rgba(0,0,0,0.2); /* Initial subtle shadow */
}

.playlist-card:hover {
    transform: scale(1.05); /* Scales up the card slightly */
    box-shadow: 0 5px 15px rgba(0,0,0,0.3); /* Adds a more pronounced shadow */
}

.playlist-card img{
    border-radius: 7%;
}

.playlist-card h3,
.playlist-card p {
    /* display: flex;
    flex-wrap: wrap;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis; */
    margin-top: 3px; /* Reduces the space above the element */
    margin-bottom: 3px; /* Reduces the space below the element */
}

.like-count {
    display: flex;
    justify-content: start;
}

.like-count img:hover {
    cursor: pointer;
    color: red;
}

.modal {
    margin: 5px;
    padding: 5px;
    display: flex; /* Hidden by default */
    visibility: visible;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
 }
 .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    border-radius: 7%;
    
 }
 .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
 }
 .close:hover,
 .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
 }

 .modal-banner {
    display: flex;
    justify-content: stretch;
    border-radius: 7%;
 }

 .modal-banner-titles {
    margin-top: 50px;
    margin: 10px;
    padding: 10px;
    font-size: 25px;
 }

 .modal-banner-img {
    border-radius: 7%;
    margin: 10px;
    padding: 10px;
 }

 .modal-banner-close {
    display: flex;
    justify-content: end;
 }

 .modal-songs {
    margin: 10px;
    padding: 10px;
 }

 .modal-song {
    margin: 5px;
    padding: 5px;
    display: flex;
    justify-content: stretch;
    justify-content: space-between;
    border: 0.7px solid black; /* Sets a black border with a thickness of 2 pixels */
    border-radius: 10px;
}

 .modal-song-left {
    display: flex;
    justify-content: start;
 }

 .modal-song-left-img {
    display: flex;
    align-items: center;
    margin: 20px;
    padding: 10px;
 }

 .modal-song-right-text {
    margin: 10px;
    padding: 10px;
    line-height: 0.7;
 }

 .modal-song-right {
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 10px;
    padding: 10px;
 }


 .shuffle-btn-container {
    display: flex;
    justify-content: center;
    width: 100%;
 }

 .shuffle-btn {
    padding: 20px;
    margin: 10px;
    border-radius: 7%;
    background-color: #191414;
    color: #fefefe;
    cursor: pointer;
 }

 .shuffle-btn:hover {
    background-color: #90EE90;
 }

 /* ------------------------------ FEATURE PAGE -------------------------------- */

.featured-container {
    margin: 10px;
    padding: 10px;
    display: flex;
}

 .featured-container-left {
    margin: 10px;
    margin-right: 50px;
    padding: 10px;
    font-size: 25px;
    text-align: center;
 }

 #featured-img {
    border-radius: 7%;
 }

 .featured-container-left img{
    width: 500px;
 }

 .featured-container-right {
    display: flex;
    justify-content: stretch;
 }




 .featured-songs {
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
 }

 .featured-song {
    margin: 5px;
    padding: 5px;
    display: flex;
    justify-content: stretch;
    justify-content: space-between;
    border: 0.7px solid black; /* Sets a black border with a thickness of 2 pixels */
    border-radius: 10px;
}

 .featured-song-left {
    display: flex;
    justify-content: start;
 }

 .featured-song-left-img {
    display: flex;
    align-items: center;
    margin: 20px;
    padding: 10px;
 }

 .featured-song-right-text {
    margin: 10px;
    padding: 10px;
    line-height: 0.7;
 }

 .featured-song-right {
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 10px;
    padding: 10px;
 }